name: traefik
services:
    library:
        container_name: traefik
        image: traefik:latest
        ports:
            - 8888:8080
            - 443:443
            - 80:80
        volumes:
            - /run/user/1000/podman/podman.sock:/var/run/docker.sock:z
            - ./traefik.yml:/etc/traefik/traefik.yml
            - ./dynamic.yml:/etc/traefik/dynamic.yml
            - ../cert.pem:/etc/traefik/certs/cert.pem:ro
            - ../key.pem:/etc/traefik/certs/key.pem:ro
        security_opt:
            - label=type:container_runtime_t
        networks:
            - tools
        labels:
            - "traefik.enable=true"


networks:
  tools:
    external: true
